extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/layout.css")
  link(rel="stylesheet" href="/stylesheets/stories.css")
  //- add page specific js

block content
  div.container
  div.content
    each story in stories
      a(href=`/story/${story.id}`)
        div.preview-story
          div.story-text
            h4.preview-story-title= story.title
            p.preview-story-desc= story.preview
          img.preview-story-img(src= story.imgLink)
      //- div.preview-story
      //-   div.story-text
      //-     h4.preview-story-title Exciting Story Headline
      //-     p.preview-story-desc This is some description. This is some description. This is some description.
      //-   img.preview-story-img(src='https://i.kinja-img.com/gawker-media/image/upload/s--C07u8fE3--/c_fit,fl_progressive,q_80,w_636/srqyi1lfvkooljdompub.jpg')
      //- div.preview-story
      //-   div.story-text
      //-     h4.preview-story-title Exciting Story Headline
      //-     p.preview-story-desc This is some description. This is some description. This is some description.
      //-   img.preview-story-img(src='https://i.kinja-img.com/gawker-media/image/upload/s--C07u8fE3--/c_fit,fl_progressive,q_80,w_636/srqyi1lfvkooljdompub.jpg')

      