doctype html
html
  head
      block head
        title="Medium Well"
        link(rel='stylesheet' href='/stylesheets/layout.css')
  body
    div.container
      div.header
        div.logo
          a(href="/")
          img(src="./MediumWellLogo.png")
        div.message
        if locals.authenticated
          div.user-auth-header
            h3 Hello #{locals.username}
            form(action='/users/logout' method='post')
              button(type='submit') Log Out
        else
          div.user-auth-header
            h3 You're logged out
            form(action='/users/login' method='get')
              button(type='submit') Log In
      block content
      img(src="https://css-tricks.com/wp-content/uploads/2018/11/dddgrid-template-areas.svg")
