doctype html
html
  head
      block head
        title="Medium Well"
        link(rel='stylesheet' href='/stylesheets/layout.css')
        link(rel='stylesheet' href='/stylesheets/side-bar.css')
        script(src="https://kit.fontawesome.com/59b37e5601.js" crossorigin="anonymous")

  body.container
      div.header
        div.logo-header
          a(href="/")
            img.header-logo(src="https://i.ibb.co/YX8xfBY/Screen-Shot-2021-04-28-at-4-03-19-PM.png" alt="Medium Well Logo")
        if locals.authenticated
          div.message-header.fade-in
            a(href=`/users/${locals.userId}`)
              h3.message-header.fade-in Hello #{locals.username}
          div.user-auth-header
            form(action='/users/logout' method='post')
              button.button(type='submit') Log Out
        else
          div.message-header.fade-in
            h3 Welcome
          div.user-auth-header
            form(action='/users/login' method='get')
              button.signinbutton(type='submit') Sign In
            form(action='/users/signup' method='get')
              button.getstartedbutton(type='submit') Get Started
      block content
      div.side-bar
        h3.side-bar-title TOPICS TO FOLLOW
        div.side-button-container
          div.side-button-card
            a.side-button-cat(href="/story/categories/1/stories") Entertainment
            button.follow-button Follow
          div.side-button-card
            a.side-button-cat(href="/story/categories/2/stories") Software
            button.follow-button Follow
          div.side-button-card
            a.side-button-cat(href="/story/categories/4/stories") Food and Drink
            button.follow-button Follow
          div.side-button-card
            a.side-button-cat(href="/story/categories/5/stories") Film
            button.follow-button Follow
          div.side-button-card
            a.side-button-cat(href="/story/categories/6/stories") Money
            button.follow-button Follow
        
      div.footer
        p.footer-text About&nbsp;&nbsp;&nbsp;Help&nbsp;&nbsp;&nbsp;Careers&nbsp;&nbsp;&nbsp;Status
