extends layout.pug

append head
    script(src='' type="module" defer)
block content
    div                    
    div.form
        form(method="POST" action="/users/login")
            input(type="hidden" name="_csrf" value=csrfToken)
            div.form-element
                label.form-label(for="email") Email: 
                input(type="email" name="email" id="email" placeholder="Enter Email")
            div.form-element
                label.form-label(for="password") Password: 
                input(type="password" name="password" id="password" placeholder="Enter Password")
            div.button-container
                button.button(type="submit") Log In
                a(href="/users/signup").form-link
                    p.form-fine-print or click here to sign up
    div
    div
    if errors
        div.errors
            ul
                each error in errors
                        li= error
            