extends layout.pug

append head
    script(src='' type="module" defer)
block content
    if errors
        div.errors
            ul
                each error in errors
                        li= error
    div.form
        form(method="POST" action="/users/login")
            input(type="hidden" name="_csrf" value=csrfToken)
            div.form-element
                label Email: 
                input(type="email" name="email" placeholder="Enter Email")
            div.form-element
                label Password: 
                input(type="password" name="password" placeholder="Enter Password")
            button.button(type="submit") Log In