extends layout.pug

block content
    if errors
        ul
            each error in errors
                    li= error

    form(method="POST" action="/users/login")
        input(type="hidden" name="_csrf" value=csrfToken)
        div
            label Email:
            input(type="email" name="email" placeholder="Enter Email")
        div
            label Password:
            input(type="password" name="password" placeholder="Enter Password")
        button.button(type="submit") Log In