extends layout

append head
    script(src="/javascripts/users.js" type="module" defer)
block content
    div
    div.form 
        form(method="POST" action="/users/signup")
            input(type= "hidden" name="_csrf" value= csrfToken)
            div.form-element
                label.form-label(for="username") Username:  
                input(type= "text" name= "username" id="username" placeholder= "Enter Username") 
            div.form-element
                label.form-label(for="email") Email:  
                input(type= "email" name="email" id="email" placeholder= "Enter Email") 
            div.form-element
                label.form-label(for="password") Password:  
                input(type= "password" name= "password" id="password" placeholder= "Enter Password") 
            div.form-element
                label.form-label(for="confirmPassword") Confirm Password:  
                input(type= "password" name= "confirmPassword" id="confirmPassword" placeholder= "Confirm Password") 
            div.button-container
                button.button(type= "submit") Sign Up!
                a(href="/users/login").form-link
                    p.form-fine-print or click here to log in
    div
    div
    if errors
        div.errors
            ul
                each error in errors
                        li= error


