.story_page_container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 20px;
}

.byline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    font-weight: bold;
    color: darkgrey;
}

.title_container{
    display:flex;
    justify-content: center;
}

.story{
    font-size: 21px;
    line-height: 1.58;
}


.likes_and_comments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.likes_and_comments i {
    font-size: 20px;
}


.like_comment_text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    text-decoration: none;
}
.comments-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}
.comments {

}
.comment-card { 
    border: 1px solid whitesmoke;
}


.comment-submit-form{


}

textarea {
    resize: none;
}