@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url(//db.onlinewebfonts.com/c/30a71dcf9a1c39558ca4e97c92a4b2fa?family=Noe+Display+Bold);

body {
    background-color: #FFFFFF;
}

.container {
    display: grid;
    margin: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'header header header'
    'content content side-bar'
    'footer footer footer';
    background-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.header {
    grid-area: header;
    width: 1192px;
    height: 150px;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    background-color:#FFFFFF;
}
.header-logo {
    height: 60px;
    width: 250px;
    justify-self: left;
    margin-bottom: 10px;
}

.user-auth-header {
    align-self: center;
    display: flex;
    flex-direction: row;
}

.logo-header {
    align-self: center;
}

.message-header {
    align-self: center;
    color: black;

}

.content {
    position: relative;
    grid-area: content;
    box-sizing: border-box;
    top:70px;
    background-color: white;
    width: 100%;
    height: 100%;

}

.content-title {
    background-color: white;
    margin-left: 125px;



}


.footer {
    grid-area: footer;
    position: fixed; right: 0px; top: 525px;
    background-color: white;
    display: flex;
    justify-content: left;
    /* hiding for now */
    height: 0px;
    width: 0px;
    font-size: 12px;
    color: grey;
    flex-direction: row;
    flex-wrap:wrap;
    right: 0px;

}
.footer-text {
  margin-right: auto;
  margin-left: auto;
}

.button {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:1em;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
    justify-content: center;
    opacity: 0.8;
    transition: 0.3s;

}

.signinbutton {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    justify-content: center;
    opacity: 0.8;
    transition: 0.3s;
    line-height: 20px;
    font-size: 14px;
}

.getstartedbutton {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:1em;
    border-color: rgba(25, 25, 25, 1);
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;;
    color: #FFFFFF;
    justify-content: center;
    opacity: 0.8;
    transition: 0.3s;
    line-height: 20px;
    font-size: 14px;
}

.button-container {
    text-align: center;
}
.button:hover {
    opacity: 1;
    color: black;
    background-color: #b19cd9;
}


.form {
  border-radius: 3px;
  background-color: #FFFFFF;
  display: flex;
  width: 450px;
  height: 500px;
  box-shadow: 1px 1px 10px#e8e8e8;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 44px 56px;
}

.signinform-title {
  font-size: 28px;
  font-family: georgia;
  text-align: center;
  text-justify: center;
}

.form-element {
  display: flex;
  flex-direction: column;
  align-self: center;
  border-bottom: 1px #292929 solid;
  margin: 50px;
}
.sform-element {
  display: flex;
  flex-direction: column;
  align-self: center;
  border-bottom: 1px #292929 solid;
  margin: 20px;
}

.form-label {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.7);
    margin: 8px 0;
    text-align: center;
}
.form-legend {
    font-weight: 600;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #292929;
    opacity: 1; /* Firefox */
  }

.form-link{
    text-decoration: none;
    color: #292929;  
}
.form-link:hover{
    text-decoration: none;
    color: black;  
}
.form-fine-print {
    font-weight: 300;
    font-size:x-small;
    text-decoration: none;
}

input[type=text]{
    border: none;
    background-color: #FFFFFF;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    width: 200px;
}
input[type=text]:focus{
    border: none;
    background-color: #FFFFFF;
    color: white;
    width: 200px;
}

input[type=email]{
    border: none;
    background-color: #FFFFFF;
    display:inline-block;
    padding:0.3em 1.2em ;
    margin:0 0.3em 0.3em 0;
    width: 200px;
}

input[type=email]:focus{
    border: none;
    background-color: #FFFFFF;
    color: white;
    width: 200px;
}

input[type=password]{
    border: none;
    background-color: #FFFFFF;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    width: 200px;
}

input[type=password]:focus{
    border: none;
    background-color: #FFFFFF;
    color: white;
    width: 200px;
}

.confirm-password {
  margin-bottom: 50px;
}

.errors {
    color:#292929;
    font-size: small;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px 20px 20px;

}

li {
    list-style: georgian outside url("https://i.ibb.co/d4TFYBk/meat.png");

}


.fade-in {
    align-self: center;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
    color:white;
  }
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
  }

  a:link {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: black;
    text-decoration: none;
  }
  a:active {
    color: black;
    text-decoration: none;
  }

  .preview-story {
    grid-area: content;
    /* border: 1px solid #b19cd9; */
    background-color: white;
    /* width: 650px;
    height: 129px; */
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 20vw;
    
    padding: 5px;
    display: flex;
    width: 650px;
    height: auto;
    /* grid-column-start: 1;
    grid-column-end: 3; */

}

.preview-story:hover {
    box-shadow: 3px 3px 5px #e8e8e8;
    background-color: white;
    /* width: 80%; */
    margin-bottom: 50px;
    /* margin-left: 300px;
    margin-right: auto; */
    padding: 5px;
    display: flex;

    /* flex-direction: row; */
}
.preview-story-title {
    margin-bottom: 0px;
    margin-top: 0px;
    justify-self: flex-start;
    padding: 5px;
    font-size: 20px;
    line-height: 25px;
    flex-wrap: wrap;
    font-family: Raleway;
    font-size: 30px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */

}
.preview-story-desc {
    margin: 0px;
    align-self: flex-end;
    padding: 5px;
    color: rgb(85, 84, 84);
    font-size: 15px;
}

.preview-story-img {
    align-items: flex-end;
    width: 200px;
    height: auto;
    object-fit:contain;
    order: 1;
    padding: 0px;

}

.preview-story-date {
    color: rgb(85, 84, 84);
    padding: 5px;
}

a {
    display: block;
    text-decoration: none;
}

.user-profile-title{
    font-size: 40px;
    margin: 10px;
    padding: 10px;
}

.preview-story-author{
    margin: 0px;
    font-family: Raleway;
    margin-left: 5px;
}

.page-header{
    position: relative;
    grid-area: header;
    display: flex;
    flex-direction: row;
    background-color: rgb(238, 151, 255);
    width: 100%;
    height: 450px;
    top: 150px;
    left: 0;
    margin: 0;
    margin-bottom: 100px;
}

.page-header-title{
    margin: 0;
    font-family: Noe;
    font-size: 80px;
    font-weight:lighter;
    margin-left: 300px;
    padding-top: 50px;
    width: 600px;
}

.page-header-description{
    font-family: Noe;
    margin-left: 300px;
    padding-top: 30px;
    width: 600px;
    font-size: 25px;
}

.page-header-img{
    position: relative;
    top: 50px;
    height: 80%;
}

.page-container{
  grid-area: content;


}

.page-header-button{
    outline: none;
    border: 1px solid black;
    background-color: rgb(238, 151, 255);
    font-size: 20px;
    font-family: Noe;
    border-radius: 50px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 300px;
    margin-top: 10px;
    cursor: pointer;
}

  @media only screen and (max-width: 1099px){
    .side-bar {
        grid-area: side-bar;
        height: 0px;
        width: 0px;
        transition: .02s;
        opacity: 0;
        right: 0px;

    }
    .cate-bar {
      grid-area: side-bar;
      height: 0px;
      width: 0px;
      transition: .02s;
      opacity: 0;
      right: 0px
    }
}
@media only screen and (min-width: 1100px ){
        .side-bar {
            grid-area: side-bar;
            grid-row-start: -3;
            background-color: rgb(250, 250, 250);
            display: flex;
            flex-direction: column;
            /* align-items: flex-end; */
            justify-content: center;
            height: 300px;
            overflow:hidden;
            position: sticky;
            right: 32px;
            top: 632px;
            
            /* bottom: 32px; */
            /* margin: 8px; */
            padding: 32px;
            transition: .02s;
            max-width: 350px;


        }

        .cate-bar {
          grid-area: side-bar;
          grid-row-start: -3;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          /* align-items: flex-end; */
          justify-content: flex-start;
          height: auto;
          position: relative;
          right: -100px;
          top: 0px;
          padding: 32px;
          transition: .02s;
          max-width: 200px;


      }

      .related-topcs {
        text-transform: uppercase;
        line-height: 18px;
        font-size: 13px;
        color: rgba(117, 117, 117, 1);
        font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        cursor: pointer;
      }

      .cate-subtitle {
        color: rgba(117, 117, 117, 1);
        font-size: 14px;
        font-weight: 400;
        font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;            
        vertical-align: super;

      }

        .side-bar-title {
            color: rgba(41, 41, 41, 1);
            letter-spacing: 0.077em;
            line-height: 18px;
            font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;            vertical-align: super;
            font-size: 13px;
            margin-left: 0px;
            margin-top: 10px;
            font-weight: 700;
          }
            

        }

        .cate-side-bar-title {
          color: rgba(41, 41, 41, 1);
          letter-spacing: 0.077em;
          line-height: 18px;
          font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;            vertical-align: super;
          font-size: 13px;
          margin-left: 0px;
          padding-bottom:10px;
          margin-top: 10px;
          font-weight: 700;
          border-bottom: 1px solid rgba(230, 230, 230, 1);

        }

        .cate-bar-title {
          color: rgba(8, 8, 8, 1);
          font-family: georgia;            
          font-size: 24px;
          margin-left: 0px;
          margin-top: 10px;
          line-height: 28px;
          font-weight: 400;

          

      }
        .side-button-container {
            font-size: 3em;
            display: flex;
            flex-direction: column;
            flex-wrap:wrap;
            margin-left: 0px;
            margin-right: 0px;
            max-width: 350px;

            

        } 
        
        .side-button-card {
            display: flex;
            flex-direction:row;
            justify-content: space-between;
            padding-top:15px;
            padding-bottom: 15px;
            width: 100%;
            border-bottom: 1px solid rgba(230, 230, 230, 1);

        }

        .side-line {
            width: 20vw;

        }

        .side-button-cat {
            font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;            vertical-align: super;
            font-size: 16px;
            font-weight: 500;
        }

        .follow-button {
            justify-self: flex-end;
            background-color: rgba(26, 137, 23, 1);
            outline: none;
            border: none;
            border-radius: 99em;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            color: rgba(255, 255, 255, 1);
            text-align: center;
            align-items: flex-start;
            padding: 4px 12px 6px;

        }

        .cate-follow-button {
          justify-self: flex-start;
          background-color: rgba(26, 137, 23, 1);
          outline: none;
          border: none;
          border-radius: 99em;
          font-size: 14px;
          line-height: 20px;
          font-weight: 300;
          color: rgba(255, 255, 255, 1);
          text-align: center;
          align-items: flex-start;
          padding: 4px 12px 6px;
          width: 40%;

      }
        .side-button {
            border-radius: 50%;
            padding: 10px 10px 10px 10px;
            background-color: black;
            margin: 10px;
            font-size: 1em;
            height: 38px;
            width: 38px;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;

        }

        .side-button:hover {
            box-shadow: 3px 3px 5px #e8e8e8;
            background-color: whitesmoke;
            opacity: 1;
            margin-left: auto;
            margin-right: auto;
        }
}