.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-areas: 
    'header header header'
    'content content side-bar'
    'footer footer footer';
    background-color: blue;

}
.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.side-bar {
    grid-area: side-bar;
}

.footer {
    grid-area: footer;
}

