.side-bar {
    grid-area: side-bar;
    background-color: whitesmoke;
    display: flex;
    /* align-items: flex-end; */
    justify-content: center;
    height: 40%;
    width: 20%;
    position: fixed;
    right: 0px;
    top: 150px;
    margin: 8px;
    padding: 10px;
    box-shadow: 3px 3px 5px #e8e8e8;

}
.side-bar-title {
    color: #b19cd9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: super;
    margin-left: 20px;
    margin-right: auto;

}
.side-button-container {
    font-size: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-left: auto;
    margin-right: auto;

} 
.side-button {
    padding: 10px 10px 10px 10px;
    background-color: whitesmoke;
    opacity: 0.3;
    margin-left: auto;
    margin-right: auto;

}

.side-button:hover {
    box-shadow: 3px 3px 5px #e8e8e8;
    background-color: whitesmoke;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
}