@import 'layout.css';

.preview-story {
    /* border: 1px solid #b19cd9; */
    background-color: white;
    /* width: 650px;
    height: 129px; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: flex;


}

.preview-story:hover {
    box-shadow: 3px 3px 5px #e8e8e8;
    background-color: white;
    /* width: 80%; */
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: flex;

    /* flex-direction: row; */
}
.preview-story-title {
    margin-bottom: 0px;
    justify-self: flex-start;
    padding: 5px;
    font-size: 20px;
    line-height: 25px;
    flex-wrap: wrap;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */

}
.preview-story-desc {
    margin: 0px;
    align-self: flex-end;
    padding: 5px;
    color: darkgrey;
    font-size: 15px;
}

.preview-story-img {
    align-items: flex-end;
    width: 172px;
    object-fit:contain;
    order: 1;
    padding: 5px;

}

.preview-story-date {
    color: white;
    padding: 5px;
}

a {
    display: block;
    text-decoration: none;
}

.user-profile-title{
    font-size: 40px;
    margin: 10px;
    padding: 10px;
}