@import 'layout.css';

.preview-story {
    /* border: 1px solid #b19cd9; */
    background-color: white;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: flex;
    /* flex-direction: row; */
}

.preview-story:hover {
    border: 1px solid #b19cd9;
    background-color: white;
    width: 80%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: flex;
    /* flex-direction: row; */
}
.preview-story-title {
    margin-bottom: 0px;
    justify-self: flex-start;
    padding: 5px;
    font-size: 25px;
    line-height: 25px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */

}
.preview-story-desc {
    margin: 0px;
    align-self: flex-end;
    padding: 5px;
    color: darkgrey;
}

.preview-story-img {
    align-items: flex-end;
    width: 200px;
    height: 200px;
    order: 1;
    padding: 5px;

}

.preview-story-date {
    color: white;
    padding: 5px;
}